backports.functools-lru-cache==1.4
backports.weakref==1.0.post1
bleach==1.5.0
click==6.7
cycler==0.10.0
enum34==1.1.6
Flask==0.12.2
funcsigs==1.0.2
futures==3.2.0
h5py==2.7.1
hmmlearn==0.2.0
html5lib==0.9999999
itsdangerous==0.24
Jinja2==2.10
Markdown==2.6.10
MarkupSafe==1.0
matplotlib==2.1.1
mock==2.0.0
munkres==1.0.12
numpy==1.13.3
pbr==3.1.1
protobuf==3.5.1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sklearn==0.0
SpeechRecognition==3.8.1
subprocess32==3.2.7
tensorflow==1.4.1
tensorflow-tensorboard==0.4.0rc3
Werkzeug==0.14.1
